* {
    margin: 0;
}

p {
    font-size: 20px;
    padding: 2px;
}

header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

aside {
    display: grid;
    grid-template-columns: 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr 1fr;
}